html, body { 
    height: 100%;
}
#map-canvas {
    width: 70%;
    height: 100%;
    z-index: 100;
}
#pGenerator {
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    z-index: 200;
    position: fixed;
    right: 0;
    top: 0;
    background: #fefefe;
    border: 1px solid rgba(86,61,124,.2);
    overflow-y: scroll;
}

#pGenerator .row {
    margin-bottom: 5px;
}
